<app-component-navbar></app-component-navbar> <!-- Navbar Component -->

<div class="support-container">
  <h1>Contact Support</h1>
  <p>If you need assistance, feel free to reach out to us using the details below:</p>
  <div class="support-details">
    <p><strong>Email:</strong> support.com</p>
    <p><strong>Phone:</strong> +1 234 567 890</p>
    <p><strong>Support Hours:</strong> Monday to Friday, 9:00 AM - 5:00 PM</p>
  </div>
  <p>We are  here to help you with any issues or queries regarding your parcels.</p>
</div>


