<app-component-homenav></app-component-homenav>
<div class="container my-5">
  <h2 class="text-center">Streamline Your Shipping Experience</h2>
  <p class="text-center">
    Our web-based Parcel Management System offers a comprehensive solution for customers and delivery officers to manage shipping needs efficiently. From booking to delivery tracking, we provide a seamless end-to-end service.
  </p>
    <!-- Buttons: Login and Register -->
    <!-- <div class="mt-4 d-flex flex-column align-items-start">
      <button class="btn btn-primary mb-3 w-100" routerLink="/login">Login</button>
      <button class="btn btn-success w-100" routerLink="/register">Register</button>
    </div> -->
  <div class="row mt-4">
    <div id="content">
      <!-- Left: Key Features -->
      <div class="col-md-6">
        <h3>Key Features</h3>
        <ul>
          <li><strong>Easy User Registration</strong>: Quick and secure account creation</li>
          <li><strong>Personalized Dashboards</strong>: Role-specific interfaces for customers and officers</li>
          <li><strong>Simple Booking Process</strong>: Capture complete parcel and recipient details</li>
          <li><strong>Flexible Delivery Options</strong>: Choose pickup and drop-off times</li>
          <li><strong>Generate Invoicing</strong>: Generate detailed invoices</li>
          <li><strong>Booking History</strong>: Access past records</li>
        </ul>
      </div>

      <!-- Right: User Roles -->
      <div class="col-md-6">
        <h3>User Roles</h3>
        <ul>
          <li><strong>Customers</strong>: Book services, track parcels, view booking history,generate invoice.</li>
          <li><strong>Delivery Officers</strong>: Manage pickups, update delivery status, schedule deliveries,book parcel</li>
        </ul>
      </div>
    </div>
      
  </div>
</div>
