
<app-component-navbar></app-component-navbar>

<div class="main">
<div class="parcel-details-container" *ngIf="shareData">

    <div id="print-section">
    <h2>Invoice Details</h2>
    <table class="details-table">
      <tr>
        <th>Booking ID</th>
        <td>{{ shareData.Booking_ID }}</td>
      </tr>
      
      <tr>
        <th>Recipient Name</th>
        <td>{{ shareData.Rec_Name }}</td>
      </tr>
      <tr>
        <th>Recipient Address</th>
        <td>{{ shareData.Rec_Address }}</td>
      </tr>
      <tr>
        <th>Recipient PIN</th>
        <td>{{ shareData.Rec_Pin }}</td>
      </tr>
      <tr>
        <th>Recipient Mobile</th>
        <td>{{ shareData.Rec_Mobile }}</td>
      </tr>
      <tr>
        <th>Parcel Weight (grams)</th>
        <td>{{ shareData.Par_Weight_Gram }}</td>
      </tr>
      <tr>
        <th>Contents Description</th>
        <td>{{ shareData.Par_Contents_Description }}</td>
      </tr>
      <tr>
        <th>Delivery Type</th>
        <td>{{ shareData.Par_Delivery_Type }}</td>
      </tr>
      <tr>
        <th>Packing Preference</th>
        <td>{{ shareData.Par_Packing_Preference }}</td>
      </tr>
      <tr>
        <th>Pickup Time</th>
        <td>{{ shareData.Par_PickupTime | date: 'long' }}</td>
      </tr>
      <tr>
        <th>Dropoff Time</th>
        <td>{{ shareData.Par_DropoffTime | date: 'long' }}</td>
      </tr>
      <tr>
        <th>Service Cost</th>
        <td>{{ shareData.Par_ServiceCost | currency: 'INR' }}</td>
      </tr>
      <tr>
        <th>Payment Time</th>
        <td>{{ shareData.Par_PaymentTime | date: 'long' }}</td>
      </tr>
      
    </table>
  </div>

</div>
  <div >
   
  <button (click)="downloadPDF()">Download PDF</button>

  <div class="admin-actions">
    <a routerLink="/customerHome">Back </a>
</div>
 </div>
    <!-- Button that will redirect to customerSearch -->
    <!-- <button (click) = "navigateToLogin()" class="backbtn">Back to Customer Search</button> -->


  <ng-template #loading>
    <p>Loading parcel details...</p>
  </ng-template>


</div>