.main {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .history-details-container {
    max-width: 100%;
    margin: auto;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .history-details-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .history-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .history-table th,
  .history-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .history-table th {
    background-color: #007bff;
    color: white;
  }
  
  .history-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .history-table tr:hover {
    background-color: #eaf3ff;
  }
  
  .history-table td {
    color: #555;
  }
  
  .admin-actions {
    text-align: center;
    margin-top: 20px;
  }
  
  .admin-actions a {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .admin-actions a:hover {
    background-color: #0056b3;
  }
  